html {
    height: 100%;
  }
  
body {
    min-height: 100%;
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
  }

/* nav bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #252627;
    padding: 15px 2.5%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #D5D8D5;
}

.nav-brand {
    font-size: 40px;
    font-weight: bold;
}

.nav-item a {
    display: flex;
    align-items: center;
    font-size: 40px;
    text-decoration: underline;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #252627;
    padding: 15px 2.5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #D5D8D5;
}


/* grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    gap: 10px; /* Space between grid items */
    padding: 7.5% 2.5%;
}

.image-item img {
    width: 100%; /* Makes image fully responsive within its container */
    height: 100%; /* Maintain aspect ratio */
    display: block; /* Remove bottom space/margin under the image */
}

/* hover title */
.image-item {
    position: relative;
    display: inline-block; /* Or flex, depending on your layout */
}

.image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    color: #fff; /* Text color */
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
    transition: visibility 0s, opacity 0.3s linear; /* Smooth transition */
}

.image-item:hover .image-title {
    visibility: visible;
    opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .image-grid {
        grid-template-columns: 1fr; /* Only one column on small screens */
    }

    nav {
        flex-direction: column; /* Stack children vertically */
        justify-content: center; /* Center children horizontally */
        text-align: center; /* Center the text for inline or inline-block elements */
    }
}

/* dark mode experiment */
:root {
    --background-color-light: #E9EDED;
    --text-color-light: #252627;
    --bar-color-light: #D5D8D5;
    --background-color-dark: #333;
    --text-color-dark: #fff;
    --bar-color-dark: #000000;
  }

/* Light theme styles */
body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }

nav.light-mode, footer.light-mode {
    color: var(--text-color-light);
    background-color: var(--bar-color-light);
  }

nav.dark-mode, footer.dark-mode {
    color: var(--text-color-dark);
    background-color: var(--bar-color-dark);
  }

  .light-mode a,
  .light-mode a:visited {
    color: var(--text-color-light); /* Dark color for light background */
  }
  
  /* Dark Mode */
  .dark-mode a,
  .dark-mode a:visited {
    color: var(--text-color-dark); /* Light color for dark background */
  }
/* The box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 145px;
    height: 34px;
  }
/* the slider */
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DD1C1A;
    transition: .4s;
    border-radius: 30px;
  }

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
input:checked + .slider {
    background-color: #ccc;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
input:checked + .slider:before {
    transform: translateX(110px);
  }